@import url(https://fonts.bunny.net/css?family=playfair-display:400|roboto:400);

:root {
  --playfair: 'Playfair Display', serif;
  --roboto: 'Roboto', sans-serif;
  --h1-size: 6.5rem;
  --h2-size: 5.5rem;
  --p-size: calc(1rem + 1vw);
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
}

.background {
  position: absolute;
  width: 100%;
  height: 650px;
  background-color: #0891b2;
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 47% 70%, 0 100%);
  object-fit: cover;
}

.header-wrapper {
  position: absolute;
  display: grid;
  grid-template-columns: max-content 1fr;
  margin: 5vw;
}

.header-image {
  position: relative;
  text-align: center;
  max-width: 40vw;
  max-height: 80vh;
  aspect-ratio: 1 / 1.1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.377);
}

.header-image img {
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.header-image h1 {
  font-family: var(--playfair);
  font-weight: normal;
  font-size: var(--h1-size);
  color: white;
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.288);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2%;
}

.about {
  overflow: auto;
  background-color: white;
  padding: 50px;
  height: 80%;
  align-self: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.377);
  overflow-y: auto;
}

.about h2 {
  font-size: var(--h2-size);
  font-weight: normal;
  font-family: var(--playfair);
}

.about p {
  font-size: var(--p-size);
  font-family: var(--roboto);
  color: rgb(105, 105, 105);
}

.about img {
  width: 50px;
}
