@import url(https://fonts.bunny.net/css?family=playfair-display:400|roboto:400);

:root {
  --playfair: 'Playfair Display', serif;
  --roboto: 'Roboto', sans-serif;
  --h1-size: calc(0.5rem + 5cqw);
  --h2-size: calc(4rem + 1vw);
  --p-size: calc(1rem + 1vw);
}

header {
  position: relative;
  height: 100vh;
}

.background {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #0891b2;
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 47% 70%, 0 min(100%, 70vw));
  object-fit: cover;
}

.background-wrap {
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.header-wrapper {
  position: absolute;
  display: flex;
  margin: 5vw;
}

.header-image {
  position: relative;
  text-align: center;
  max-width: 45%;
  max-height: 80vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.377);
}

.header-image img {
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.header-image h1 {
  font-family: var(--playfair);
  font-weight: normal;
  font-size: var(--h1-size);
  color: white;
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.288);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2%;
}

.about {
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: white;
  padding: 50px;
  height: 65vh;
  align-self: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.377);
}

.about h2 {
  font-size: var(--h2-size);
  font-weight: normal;
  font-family: var(--playfair);
  margin-bottom: 4rem;
}

.about p {
  font-size: var(--p-size);
  font-family: var(--roboto);
  color: rgb(105, 105, 105);
}

.icon-wrapper {
  display: flex;
  gap: 30px;
  margin-top: auto;
  margin-left: auto;
}

.about img {
  width: 40px;
}
